/blog-post/node_modules
/books_List_app/api/node_modules
/books_List_app/books/node_modules
/component/node_modules
/jsx/node_modules
/pics/node_modules
/seasons/node_modules
/songs/node_modules
/streams/api/node_modules
/streams/client/node_modules